body, *{
    margin: auto;
    
}
.tabcontent{
    text-align: center;
}
h3{
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    margin-top: 10px;
    padding: 20px;
    background-color:rgb(88, 104, 252);
    color: aliceblue;
}

.form-check-inline{
    padding: 5px 20px;
    background-color: rgb(88, 104, 252);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    
}


span{
    padding: 10px;
    margin: 10px;
    background-color: rgb(88, 104, 252);
    color: aliceblue;
    width: 100%;
  }


  * {box-sizing: border-box}
    
  /* Style the tab */
  .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
    display: block;
  }